# python higher or equal to 3.11
python>=3.11
# jupyterlab and voila for interactive notebooks
jupyterlab==4.4.5
ipywidgets==8.1.7
voila==0.5.10
# required libraries for the simulator
numpy==2.3.2
scipy==1.16.0
matplotlib==3.10.5
scikit-image==0.25.2
pandas==2.3.1
bqplot==0.12.43
